<div class="body2">
	<h1>About me</h1>

	<div class="portrait">
		<%= image_tag("self1.jpg") %>
	</div>

	<div class="description">Welcome to my website!</div><br>
	<div class="description">I'm a third year Computer Science major at UC Berkeley. </div><br>
	<div class="description">Coding makes me feel like a magician.</div><br>
	<div class="description">I like ice cream.</div><br>

</div>